<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <article class="container">
            <section class="fondo">
                <div class="col-12">
                   <br>
                    <form class="user border p-3">
                        <h1>Resultado de la ecuación cuadratica</h1>
                        <div class="form-group">
                            <label for="resultado1">Resultado 1</label>
                            <p>{{ resultado1 }}</p>
                            <label for="resultado1">Resultado 2</label>
                            <p>{{ resultado2 }}</p>
                        </div>
                    </form>
                </div>
               
            </section>
        </article>
    </body>
</html>